{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "STORAGE_CONNECTION": "UseDevelopmentStorage=true",
    "REPORTS_CONTAINER": "reports",
    "FAILURE_THRESHOLD": "5"
  }
}
